//Copyright (C)2014-2025 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//Tool Version: V1.9.12 (64-bit)
//Part Number: GW1NR-LV9QN88PC6/I5
//Device: GW1NR-9
//Device Version: C
//Created Time: Sun 09 13 13:39:34 2026

IO_LOC "tmdsc_p" 69,68;
IO_PORT "tmdsc_p" IO_TYPE=LVDS25E PULL_MODE=NONE DRIVE=8 BANK_VCCIO=2.5;
IO_LOC "tmds_p[0]" 71,70;
IO_PORT "tmds_p[0]" IO_TYPE=LVDS25E PULL_MODE=NONE DRIVE=8 BANK_VCCIO=2.5;
IO_LOC "tmds_p[1]" 73,72;
IO_PORT "tmds_p[1]" IO_TYPE=LVDS25E PULL_MODE=NONE DRIVE=8 BANK_VCCIO=2.5;
IO_LOC "tmds_p[2]" 75,74;
IO_PORT "tmds_p[2]" IO_TYPE=LVDS25E PULL_MODE=NONE DRIVE=8 BANK_VCCIO=2.5;
IO_LOC "BEEP" 63;
IO_PORT "BEEP" IO_TYPE=LVCMOS25 PULL_MODE=UP DRIVE=8 BANK_VCCIO=2.5;
IO_LOC "SCK" 36;
IO_PORT "SCK" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "MOSI" 37;
IO_PORT "MOSI" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "SPI_CS" 38;
IO_PORT "SPI_CS" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "ER_WE" 34;
IO_PORT "ER_WE" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "ER_OE" 86;
IO_PORT "ER_OE" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "ER_CS" 51;
IO_PORT "ER_CS" IO_TYPE=LVCMOS25 PULL_MODE=UP DRIVE=8 BANK_VCCIO=2.5;
IO_LOC "ER_ADD[18]" 32;
IO_PORT "ER_ADD[18]" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "ER_ADD[17]" 31;
IO_PORT "ER_ADD[17]" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "ER_ADD[16]" 49;
IO_PORT "ER_ADD[16]" IO_TYPE=LVCMOS25 PULL_MODE=UP DRIVE=8 BANK_VCCIO=2.5;
IO_LOC "ER_ADD[15]" 48;
IO_PORT "ER_ADD[15]" IO_TYPE=LVCMOS25 PULL_MODE=UP DRIVE=8 BANK_VCCIO=2.5;
IO_LOC "ER_ADD[14]" 77;
IO_PORT "ER_ADD[14]" IO_TYPE=LVCMOS25 PULL_MODE=UP DRIVE=8 BANK_VCCIO=2.5;
IO_LOC "ER_ADD[13]" 79;
IO_PORT "ER_ADD[13]" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "ER_ADD[12]" 80;
IO_PORT "ER_ADD[12]" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "ER_ADD[11]" 82;
IO_PORT "ER_ADD[11]" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "ER_ADD[10]" 81;
IO_PORT "ER_ADD[10]" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "ER_ADD[9]" 28;
IO_PORT "ER_ADD[9]" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "ER_ADD[8]" 27;
IO_PORT "ER_ADD[8]" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "ER_ADD[7]" 29;
IO_PORT "ER_ADD[7]" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "ER_ADD[6]" 30;
IO_PORT "ER_ADD[6]" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "ER_ADD[5]" 33;
IO_PORT "ER_ADD[5]" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "ER_ADD[4]" 53;
IO_PORT "ER_ADD[4]" IO_TYPE=LVCMOS25 PULL_MODE=UP DRIVE=8 BANK_VCCIO=2.5;
IO_LOC "ER_ADD[3]" 54;
IO_PORT "ER_ADD[3]" IO_TYPE=LVCMOS25 PULL_MODE=UP DRIVE=8 BANK_VCCIO=2.5;
IO_LOC "ER_ADD[2]" 55;
IO_PORT "ER_ADD[2]" IO_TYPE=LVCMOS25 PULL_MODE=UP DRIVE=8 BANK_VCCIO=2.5;
IO_LOC "ER_ADD[1]" 56;
IO_PORT "ER_ADD[1]" IO_TYPE=LVCMOS25 PULL_MODE=UP DRIVE=8 BANK_VCCIO=2.5;
IO_LOC "ER_ADD[0]" 57;
IO_PORT "ER_ADD[0]" IO_TYPE=LVCMOS25 PULL_MODE=UP DRIVE=8 BANK_VCCIO=2.5;
IO_LOC "ER_D[7]" 85;
IO_PORT "ER_D[7]" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "ER_D[6]" 84;
IO_PORT "ER_D[6]" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "ER_D[5]" 83;
IO_PORT "ER_D[5]" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "ER_D[4]" 76;
IO_PORT "ER_D[4]" IO_TYPE=LVCMOS25 PULL_MODE=UP DRIVE=8 BANK_VCCIO=2.5;
IO_LOC "ER_D[3]" 40;
IO_PORT "ER_D[3]" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "ER_D[2]" 35;
IO_PORT "ER_D[2]" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "ER_D[1]" 41;
IO_PORT "ER_D[1]" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "ER_D[0]" 42;
IO_PORT "ER_D[0]" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "MISO" 39;
IO_PORT "MISO" IO_TYPE=LVCMOS18 PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "KB_DAT" 25;
IO_PORT "KB_DAT" IO_TYPE=LVCMOS18 PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "KB_CLK" 26;
IO_PORT "KB_CLK" IO_TYPE=LVCMOS18 PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "HOLD" 3;
IO_PORT "HOLD" IO_TYPE=LVCMOS18 PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "rst" 4;
IO_PORT "rst" IO_TYPE=LVCMOS18 PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "clk" 52;
IO_PORT "clk" IO_TYPE=LVCMOS25 PULL_MODE=UP BANK_VCCIO=2.5;
